<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
   <div>
    <div>Bonjour,</div>
    <br/>
    <div>Nous avons bien reçu votre commande, les plats seront préparés et vous seront livrés à la date de votre choix.</div><br>
    <div>Cliquez sur le lien suivant pour suivre le status de commande : <a href="{{clientHomeLink}}">ici</a></div><br/>
    <div>Merci pour votre confiance,</div><br/>
    <div>Equipe Traiter Lian</div>
   </div>
</body>
</html>